include pyproject.toml
include *.md
include tox.ini
include versioneer.py
include src/pylayerize/_version.py
recursive-include dist *.gz
recursive-include dist *.whl
recursive-include src *.pyc
recursive-include tests *.py
exclude *.pyo
exclude __pycache__
exclude .gitignore

