include pyproject.toml
include *.md
include LICENSE
include tox.ini
recursive-include dist *.gz
recursive-include dist *.whl
recursive-include src *.Dockerfile
recursive-include src *.pyc
recursive-include tests *.py